body{
    border-radius: 50px;
}

.logo {
    max-width: 50px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 500px;
}

.navbar-collapse{
    color: #f8f9fa;
}


h1, h3 {
    color: var(--primary-color);
}

.row{
    background-color: #dad5d8e7;
  
    border-radius: 50px;
    border-bottom: 1px;
    text-decoration:underline;

}

footer{
    background-color:  #dad5d8e7;
    border-radius: 50px; 
}

.container{
    margin: 3em;
    /*background-color:  #dad5d8e7;*/
}

.nav-tabs{
    color: rgb(241, 241, 248);
    text-decoration-color: blue;
}

.btn-primary {
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #004085;
}
.btn-primary:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}
