body {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color);
}
h1, h3 {
    color: var(--primary-color);
}


#main-container{
    background-color: #dad5d8e7;
    border-radius: 50px; 
    background-image: url("/assets/Logo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    margin: 3em;
}
